# DATABASE (via prisma)
DATABASE_URL="postgresql://postgres.<id>:<pwd>!@<ip>:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.<id>:<pwd>!@<ip>:5432/postgres"

# AUTH (supabase)
SUPABASE_URL="https://<id>.supabase.co"
SUPABASE_ANON_KEY="<anon_key>"
SUPABASE_SERVICE_ROLE_KEY="<role_key>"

# Application
NODE_ENV=development
PORT=3000